<div class="media">
 <div class="media-body">
   <h4 class="media-heading">
     <div class "row">
     <%= image_tag @user.avatar_url(48), class: "gravatar" %>
     <%= link_to @user.favorites %>
     </div>
   </h4>
 </div>
</div>
