<h1>About Bloccit</h1>
<p>Created by Ben Kline <%= link_to "Follow me on Twitter", "http://twitter.com/boisebenkline", class: "btn social-btn" %></p>



<% if false %>
    btn-lg btn-block btn-primary
<% end %>
